.conteudo {
	-fx-background-color: black;
	-fx-font-family: Oswald;
}

.titulo {
	-fx-font-size: 28px;
	-fx-text-fill: #12b0ed;	
}

.numero{
	-fx-text-fill: #ff00ff;
	-fx-font-size: 28px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #12b0ed;
	-fx-font-size: 28px;
	-fx-min-width: 60px;
	-fx-min-width: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: #0bb925;
}

.vermelha {
	-fx-text-fill: #ef241f;	
}
